@import "~bootstrap/scss/bootstrap";

.lead strong {
    font-weight: bold
}

@media print {
    .resume-item {
        page-break-inside: avoid;
        display: block
    }
    .resume-section {
        display: block
    }
}

@include media-breakpoint-up(md) {  
    .resume-date {
        min-width: 18rem;
    }
}

.navbar {
    font-family: $headings-font-family;
    font-size: 2rem
}

.tool-icon:hover {
    fill: #DA4567;
}

@include media-breakpoint-down(lg) {  
    body {
        padding-top: 56px; 
    }
}

@include media-breakpoint-up(lg) {  
    body {
        padding-left: $navbar-width;
    }
    .navbar {
        .navbar-brand {
            margin: auto auto 0;
            display: flex;
        }
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        width: $navbar-width;
        height: 100vh;
        .navbar-collapse {
            flex-grow: 0;
            margin-bottom: auto;
            .navbar-nav {
                text-transform: uppercase;
                flex-direction: column;
                width: 100%;
            }        
        }
    }
}

.resume-section {
    max-width: 75rem;
    min-height: 100vh;
}
    
h1, h2, h3, .h1, .h2, .h3, .subheading {
    text-transform: uppercase
}